<!-- Footer -->
<section class="footer">
  <div class="container">
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="#">main</a>
          <a class="nav-link" href="#">about</a>
          <a class="nav-link" href="#">game features</a>
          <a class="nav-link" href="#">system requirements</a>
          <a class="nav-link" href="#">quotes</a>
          <a class="nav-link" href="#">
            <img src="assets/facebook.svg" alt="" class="d-inline-block w-75">
          </a>
          <a class="nav-link" href="#">
            <img src="assets/twitter-2.svg" alt="" class="d-inline-block w-75">
          </a>
          <a class="nav-link" href="#">
            <img src="assets/Vector.svg" alt="" class="d-inline-block  w-75">
          </a>
          <a class="nav-link" href="#">
            <img src="assets/twitch.svg" alt="" class="d-inline-block w-75">
          </a>
        </div>
      </div>
    </nav>
    <hr>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link disabled opacity-50"> © 2018 Your Games, Inc. All Rights Reserved</a>
          </div>
          <div class="navbar-nav ms-auto">
            <a class="nav-link" href="#">privacy policy</a>
            <span>|</span>
            <a class="nav-link" href="#">terms of service</a>
            <span>|</span>
            <a class="nav-link" href="#">code of conduct</a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</section>
<!-- End Footer -->

<script src="/js/bootstrap.min.js"></script>